# This file contains python only requirements to be installed with pip
# Python packages that cannot be installed with pip (e.g. PyQt5, GDAL) are not included.
# Usage: pip3 install -r requirements.txt
numpy>=1.16
matplotlib>=3.1
cycler>=0.10
python-dateutil>=2.1
kiwisolver>=1.0.1
six
setuptools
dill
rtree
pyopengl
vispy
ortools
svg.path
simplejson
shapely>=1.3
freetype-py
fontTools
rasterio
lxml
ezdxf
qrcode>=6.0
